@import 'tailwindcss';
@import '@mantine/core/styles.css';
@custom-variant dark (&:where(.dark, .dark *));

/* Reseta cor padrão do body para o Tailwind controlar */
body {
  color: unset !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
